body{
    padding: 0px;
    margin: 0px;
}
.Top-heading{
    background-color: #e3f2d4E9;
}
.sign{
    margin: 10px;
}
.img{
    height: 250px;
    width:300px;
 margin-top: 40%;
  }
.navbar{
   background-color: #E3F2D4;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    margin-left: 150px;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar ul li{
    padding: 10px 30px;
   position: relative;
}
.navbar ul li a{
    text-decoration: none;
}

main{
    width: 100%;
    max-width: 350px;
    padding: 1rem 3rem;
    margin: auto;

}
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:101;
 padding:25px ;
    border-radius: 7px;
    box-shadow: rgba(0,0,0,0.1);

}
.option_field{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkbox{
    display: flex;
    white-space: nowrap;
    font-size: 12px;
    column-gap: 9px;
}
.checkbox label{
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: rgb(48, 37, 190);
}
.forgot_pwd{
    font-size: 12px;
    color: blueviolet;
}
.image{
    height: 20px;
    width: 20px;}

