
.b-img{
    height:150% ;
    width:100%;

}
.title{
    color:  #7a9352;
    background-color:  #dff5d9;
}
.card{
  margin-top: 40px;
}
#cartIcon {
    cursor: pointer;
}
.btn-q{
  background-color: #7a9352;
  border: #fff;
  border-radius: 3px;

}
  .btn-s{

background-color: #7a9352;
margin-top: 20px;

}
.btn-b{
margin-left: 170px;
}
.card-title{
color:  black;
font-weight: bold;
}
.card:hover{
 transform: scale(1.02);
 transition: transform 0.5s ease;
 
}
.navbar{
    background-color: #E3F2D4;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    margin-left: 150px;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar ul li{
    padding: 10px 30px;
   position: relative;
}
.navbar ul li a{
    text-decoration: none;
}
.dropdown li{
    display: block;
    position: absolute;

}
